<div class="padding">
  <div class="col-lg-6">
      <div class="card"> <img class="" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559286899/weatherbg.jpg" alt="Card image cap">
          <div class="card-img-overlay" style="height:110px;">
              <h3 class="card-title text-white m-b-0 dl">{{this.weatherData?.location.name}}</h3> <small class="card-text text-white font-light">Sunday 15 march</small>
          </div>
          <div class="card-body weather-small">
              <div class="row">
                  <div class="col-8 b-r align-self-center">
                      <div class="d-flex">
                          <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                          <div class="m-l-20">
                              <h1 class="font-light text-info m-b-0">32<sup>0</sup></h1> <small>Sunny Rainy day</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-4 text-center">
                      <h1 class="font-light m-b-0">25<sup>0</sup></h1> <small>Tonight</small>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>